<div style="display: flex; justify-content: center; padding-top: 50px; padding-bottom: 50px;">
    <form class="form" method="post">
        <p class="title">Realizar Pago </p> 
        <label>
            <input required="" placeholder="" type="text" class="input" name="titular_tarjeta">
            <span>Titular Tarjeta</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" class="input" name="num_tarjeta">
            <span>Número Tarjeta</span>
        </label>

        <label>
            <input required="" placeholder="" type="password" class="input" name="cvv" maxlength="3">
            <span>CVV</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" class="input" name="fecha_caducidad">
            <span>Fecha Caducidad</span>
        </label>

        <button class="submit">Realizar Pago</button>
    </form>
</div>