@{
    ViewData["Title"] = "About Us";
}

<section class="bg-secondary py-5" style="background-color:#6a561ccc !important">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>Sobre Nosotros</h1>
                    <hr>
                    <p>
                        Bienvenido a VillaLuxe, donde la elegancia y el lujo se funden para crear experiencias inolvidables. Con una pasión por el servicio excepcional y la atención meticulosa a cada detalle, nos enorgullece ofrecer una selección exclusiva de alojamientos de lujo en destinos de ensueño alrededor del mundo.
                        En VillaLuxe, nos esforzamos por superar las expectativas de nuestros huéspedes en cada estancia. Nuestras propiedades han sido cuidadosamente seleccionadas por su ubicación excepcional, diseño exquisito y comodidades de primer nivel, garantizando un refugio de lujo que cautivará sus sentidos y rejuvenecerá su espíritu.
                        ¡Esperamos darle la bienvenida pronto!
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="~/img/about-hero.png" alt="About Hero">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->

    <!-- Start Section -->
    <section class="container py-5">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-9 m-auto">
                <h1 class="h1">Nuestros Servicios</h1>
                <p>
                    Ofrecemos servicios excepcionales para garantizar que cada aspecto de su estancia sea perfecto. Nuestro compromiso es proporcionar comodidad y satisfacción a cada uno de nuestros huéspedes.
                </p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center">                    
                        <i class="fa fa-broom"></i>
                    </div>
                    <h2 class="h5 mt-4 text-center">Servicio de Limpieza</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-lock"></i></div>
                    <h2 class="h5 mt-4 text-center">Servicios de Seguridad</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-calendar"></i></div>
                    <h2 class="h5 mt-4 text-center">Eventos y Ceremonias</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                    <h2 class="h5 mt-4 text-center">24 Hours Service</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    

